.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins

ios/Flutter/

ios/Runner/

ios/Runner\.xcodeproj/

ios/Runner\.xcworkspace/

android/app/

android/gradle/

android/build\.gradle

android/gradle\.properties

android/gradlew

android/gradlew\.bat

android/settings\.gradle

\.idea/libraries/

\.idea/runConfigurations/

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml

\.metadata

my_app_layer_android\.iml

my_app_layer\.iml

pubspec\.lock
